html {
    box-sizing: border-box;
    background: #DC2424;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A569D, #DC2424);
    background: linear-gradient(to right, #4A569D, #DC2424);
}

*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

header {
    font-family: sans-serif;
    font-size: 25px;
    width: fit-content;
    margin: 10px auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 90%;
    /* max-height: 30em; */
    width: 30em;
    height: 30em;
    background: coral;
    display: flex;
    flex-wrap: wrap;
}

.gridUnit {
    background-color: white;  
}

button {
    background: transparent;
    border: 1px solid rgb(62, 66, 58);
    padding: 10px;
    margin: 10px auto;
}

.reset-button {
    padding: 5px;
}

.reset-button:active {
    background: rgb(69, 122, 69);
}

.controls {
    display: flex;
    gap: 10px;
}

.grid-size {
    display: flex;
    gap: 10px;
    align-items: center;
}

.grid-size input {
    border: none;
    height: 25px;
}